body{
    background: #333;
    color: #f4f4f4;
}
header{
    background: white;
    color: #333;
    padding: 65px;
    border: 15px solid red;
}
p{
    font-size: 40px;
}
main{
    background: chartreuse;
    margin: 30px;
    color: hotpink;
    border: 15px solid blue;
    padding: 20px;
}

footer{
    background: blue;
    color: black;
    border: 10px solid yellowgreen;
}